<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

	<springProperty scope="context" name="LOG_PATH" source="logging.path" />
	<property name="LOG_FILE" value="${LOG_PATH}/open-avatar-build-API.txt" />
	
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<property name="CONSOLE_LOG_PATTERN"
		value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%10.10t]){faint} %42.42(%40.40logger{39}#%4L){cyan} %clr(:){faint} %m%n" />
	<property name="FILE_LOG_PATTERN"
		value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%10.10t]){faint} %42.42(%40.40logger{39}#%4L){cyan} %clr(:){faint} %m%n" />
	
	<timestamp key="byDay" datePattern="yyyyMMdd" />

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<!-- Rolling File Appender -->
	<appender name="ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE}</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/jumpvr-admin-%d{yyyyMMdd}.%i.txt</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<springProfile name="local">
		<root level="INFO">
			<appender-ref ref="STDOUT" />
		</root>
	</springProfile>

	<springProfile name="dev">
		<root level="INFO">
			<appender-ref ref="ROLLING" />
		</root>
		<logger name="com.skt.treal.openavatar.build.api" additivity="false">
			<appender-ref ref="ROLLING" />
		</logger>
	</springProfile>
	
</configuration>