<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skt.treal.openavatar.build.api.mapper.TbItemJsonMapper">
	<resultMap type="TbItemJson" id="BaseResultMap">
		<id 	column="json_id" 			jdbcType="INTEGER"		property="jsonId"/>
		<result column="itemkey" 			jdbcType="INTEGER"		property="itemkey"/>
		<result column="platform" 			jdbcType="VARCHAR"		property="platform"/>
		<result column="json_path" 			jdbcType="VARCHAR"		property="jsonPath"/>
		<result column="json_contents"		jdbcType="VARCHAR"		property="jsonContents"/>
		<result column="create_user" 		jdbcType="INTEGER"		property="createUser"/>
		<result column="create_datetime" 	jdbcType="TIMESTAMP"	property="createDatetime"/>
		<result column="modify_user" 		jdbcType="INTEGER"		property="modifyUser"/>
		<result column="modify_datetime" 	jdbcType="TIMESTAMP"	property="modifyDatetime"/>
	</resultMap>
	
	<select id="selectTbItemJsonByJsonId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		SELECT
			*
		FROM
			tb_item_json
		WHERE
			json_id = ${jsonId,jdbcType=INTEGER}
	</select>
</mapper>