<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skt.treal.openavatar.build.api.mapper.TbJumpTemplateMapper">
	<resultMap id="BaseResultMap" type="TbJumpTemplate">
		<id 	column="template_id" 		 jdbcType="INTEGER" 	property="templateId" />
		<result column="template_name" 		 jdbcType="VARCHAR" 	property="templateName" />
		<result column="categorykey" 		 jdbcType="VARCHAR" 	property="categorykey" />
		<result column="description" 		 jdbcType="VARCHAR" 	property="description" />
		<result column="jump_file" 			 jdbcType="VARCHAR" 	property="jumpFile" />
		<result column="jump_file_path" 	 jdbcType="VARCHAR" 	property="jumpFilePath" />
		<result column="thumbnail" 			 jdbcType="VARCHAR" 	property="thumbnail" />
		<result column="thumbnail_path"		 jdbcType="VARCHAR" 	property="thumbnailPath" />
		<result column="use_yn"		 		 jdbcType="VARCHAR" 	property="useYn" />
		<result column="del_yn" 			 jdbcType="VARCHAR" 	property="delYn" />
		<result column="create_user"		 jdbcType="INTEGER" 	property="createUser" />
		<result column="create_datetime"	 jdbcType="TIMESTAMP" 	property="createDatetime" />
		<result column="modify_user" 		 jdbcType="INTEGER" 	property="modifyUser" />
		<result column="modify_datetime" 	 jdbcType="TIMESTAMP" 	property="modifyDatetime" />
	</resultMap>
	<select id="selectTbJumpTemplateByTemplateId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		SELECT
			*
		FROM
			tb_jump_template
		WHERE
			template_id = #{templateId,jdbcType=INTEGER}
	</select>
</mapper>